$accent: #6EE877 // try out #22d079
$accent-gradient: linear-gradient(to bottom left, #6EE877 0%, #22d079 100%)
$accent-dark: #3C3C3C

$background: #EDEDED
$card-body: #FFFFFF

$error: #ED4F57

$text-dark: rgba(0, 0, 0, 0.8)
$text-medium: rgba(0, 0, 0, 0.65)
$text-light: rgba(0, 0, 0, 0.5)

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16)
$box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.16)
