<!DOCTYPE html>
<html lang="en">
<head>
  <title>Residue Calculator</title>

  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1">

  <% if (IS_PRODUCTION) { %>
    <link rel='stylesheet' href='/lib/bundle.css'></link>
  <% } %>

</head>
<body>
  <div id="mount"><%- content %></div>
  <% if (IS_PRODUCTION) { %>
    <script src="/lib/vendor.js"></script>
    <script src="/lib/client.js"></script>
  <% } else { %>
    <script src="/lib/main.js"></script>
  <% } %>
</body>
</html>
